[{:itonami.blueprint/social-impact [:workplace-coordination :administrative-efficiency :local-jobs], :itonami.blueprint/domain :office/supervision-coordination, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "3341", :itonami.blueprint/name "Independent Office Supervision Practice", :itonami.blueprint/governor :office-supervision-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-3341", :itonami.blueprint/license "AGPL-3.0-or-later", :itonami.blueprint/maturity :implemented}]
